{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <!-- favicon --> 
         <!-- <link rel="shortcut icon" href="{% static 'img/fav.svg' %}" /> -->
         <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
         <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/apple-touch-icon.png' %}">
         <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/apple-touch-icon.png' %}">
         <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        
        <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
        <!-- Fontawesome CDN Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
        <script src="{% static 'script.js' %}" defer></script>
        <script src="{% static 'textChange.js' %}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 

         <title>Faruq Abdulsalam</title>
    </head>

    
    <body>
        <!-- Move to up button -->
        <div class="scroll-button">
          <a href="#home"><i class="fas fa-arrow-up"></i></a>
        </div>
        <!-- navgaition menu -->
        <nav>
          <div class="navbar">
            <div class="logo">
              <a href="">My World</a>
            </div>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="https://nagatodev.hashnode.dev/">Blog</a></li>
                <li><a href="#contact">Contact Me</a></li>
                <li class=icons>
                    <a href="https://www.linkedin.com/in/faruq-abdulsalam-b2847b160/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/_Ace_II/"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/Faruqt"><i class="fab fa-github"></i></a> 
                    <a href="https://dev.to/faruqt"><i class="fa fa-dev-to"></i></a> 
                    <a href="https://medium.com/@faruqabdulsalam"><i class="fab fa-medium"></i></a>
                </li>
                <div class="cancel-btn">
                  <i class="fas fa-times"></i>
                </div>
            </ul>
            <div class="media-icons">
              <a href="https://www.linkedin.com/in/faruq-abdulsalam-b2847b160/"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://twitter.com/_Ace_II/"><i class="fab fa-twitter"></i></a>
              <a href="https://github.com/Faruqt"><i class="fab fa-github"></i></a> 
              <a href="https://dev.to/faruqt"><i class="fa fa-dev-to"></i></a> 
              <a href="https://medium.com/@faruqabdulsalam"><i class="fab fa-medium"></i></a>
            </div>
          </div>
          <div class="menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      
      <!-- Home Section Start -->
       <section class="home top-section" id="home">
         <div class="home-content">
           <div class="text">
             <div class="text-one">Welcome <i class="fa fa-smile-o" aria-hidden="true"></i>,</div>
             <div class="text-two">I'm Faruq Abdulsalam</div>
             <div id="word" class="text-three">Web Developer</div>
           </div>
         </div>
         <div class="project-button">
          <!-- <button>Download CV</button> -->
          <a class="cv-button" href="#portfolio"> View selected projects </a>
        </div>
       </section>
      
      <!-- About Section Start -->
      <section class="about" id="about">
        <div class="content">
          <div class="title"><span>About Me</span></div>
        <div class="about-details">
          <div class="left">
            <img src="{% static 'img/Faruq1.png' %}" alt="">
          </div>
          <div class="right">
            <p>I am a software engineer who loves developing the web, enjoys talking with computers and helping other developers grow. As a technical writer i share the conversations i have with computers with the world on my blogs.</p>
            <div class="button">
              <!-- <button>Download CV</button> -->
              <a class="cv-button" href="https://resume.io/r/Gdddi1EzB"> View resume </a>
            </div>
          </div>
        </div>
        </div>
      </section>
      
      <!-- My Skill Section Start -->
      <!-- Section Tag and Other Div will same where we need to put same CSS -->
      <section class="skills" id="skills">
       <div class="content">
         <div class="title"><span>My Skills</span></div>
         <div class="skills-details">
           <div class="text">
             <div class="topic">Full stack web developer</div>
             I am proficient in the following skills:
           </div>
           <div class="boxes">
             <div class="box">
               <div class="topic">Python</div>
             </div>
             <div class="box">
               <div class="topic">Django</div>
             </div>
             <div class="box">
               <div class="topic">JavaScript</div>
             </div>
             <div class="box">
               <div class="topic">Flask</div>
             </div>
             <div class="box">
                <div class="topic">React</div>
              </div>
              <div class="box">
                <div class="topic">Golang</div>
              </div>
            </div>
         </div>
       </div>
      </section>
      
      <!-- My Portfolio Section Start -->
      <section class="content-section" id="portfolio">
        <div class="container">
            <div id="3js-porfolio"></div>
            <div class="content-section-heading text-center">
                <div class="title"><span>Portfolio</span></div>
                <h4 class="mb-5"> Projects I Have Done</h4>
            </div>
            <div class="row no-gutters">
                  <div class="col-lg-6">
                    <a class="portfolio-item" href="https://www.grapepharm.com/">
                    <span class="caption">
                        <span class="caption-content">
                        <h1>Grapepharm</h1>
                        </span>
                    </span>
                    <img class="img-fluid" src="/static/img/Grapepharm.jpeg" alt="">
                    </a>
                    <div class="description mb-4">
                      <span class="caption-content2">
                        <h4 class="caption-head">Grapepharm</h4> 
                        <p class="mb-0">A landing page built for a pharmaceutical startup. It also contains an api for contact form submission </p>
                        <br class="break">
                        <br>
                        <p> Technology Used: ReactJs, useState and useEffect hooks, react-toastify, and axios</p>
                      </span>
                      <div class="view-button">
                        <a class="source-button" href="https://www.grapepharm.com/"> <i class="fas fa-eye"></i> Visit site </a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-6">
                  <a class="portfolio-item" href="https://foodies-world.herokuapp.com/">
                  <span class="caption">
                      <span class="caption-content">
                      <h1>Foodie</h1>
                      </span>
                  </span>
                  <img class="img-fluid reo" src="/static/img/Foodie.jpeg" alt="">
                  </a>
                  <div class="description mb-4">
                    <span class="caption-content2">
                      <h4 class="caption-head">Foodie</h4> 
                      <p class="mb-0">An online restaurant application which customers can easily use to view available meals at the restaurant, add meals to their trays, change meals/ empty their trays and finally place orders.</p>
                      <br>
                      <p> Technology Used: Golang, JavaScript, Ajax, PostgreSQL, Docker, Testify, Toast, Bootstrap.</p>
                    </span>
                    <div class="view-button">
                      <a class="source-button mr-3" href="https://foodies-world.herokuapp.com/"> <i class="fas fa-eye"></i> Visit site </a>
                      <a class="source-button" href="https://github.com/Faruqt/Foodie"> <i class="fab fa-github"></i> View source code </a>
                    </div>
                  </div>
               </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="https://github.com/Faruqt/Python-Interpreter-for-ternary-operations">
                    <span class="caption">
                        <span class="caption-content">
                        <h1>Python Interpreter</h1>
                        </span>
                    </span>
                    <img class="img-fluid" src="/static/img/python.png" alt="">
                    </a>
                    <div class="description mb-4">
                      <span class="caption-content2">
                        <h4 class="caption-head">Python Interpreter</h4> 
                        <p class="mb-0">A python interpreter capable of understanding and processing ternary operations. It takes input in the form of objects, tokenizes the input and samples, parses them and then interepretes them.
                        </p>
                        <br>
                        <p> Technology Used: Python</p>
                      </span>
                      <div class="view-button">
                        <a class="source-button" href="https://github.com/Faruqt/Python-Interpreter-for-ternary-operations"> <i class="fab fa-github"></i> View source code </a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-6">
                  <a class="portfolio-item" href="https://bitcoinprice-tracker.herokuapp.com/">
                    <span class="caption">
                        <span class="caption-content">
                        <h1>Bitcoin Price Tracker</h1>
                        </span>
                    </span>
                    <img class="img-fluid" src="/static/img/Bitcoin.png" alt="">
                  </a>
                  <div class="description mb-4">
                    <span class="caption-content2">
                      <h4 class="caption-head">Bitcoin Price Tracker</h4> 
                      <p class="mb-0">An application which allows users to track the changes in price of bitcoin using Historical BPI data from CoinDesk. It allows at most 3 months worth of data to be displayed</p>
                      <br>
                      <p> Technology Used: Django, Python, JavaScript, ChartJs</p>
                    </span>
                    <div class="view-button">
                      <a class="source-button mr-3" href="https://bitcoinprice-tracker.herokuapp.com/"> <i class="fas fa-eye"></i> Visit site </a>
                      <a class="source-button" href="https://github.com/Faruqt/Bitcoin-Price-Tracker"> <i class="fab fa-github"></i> View source code </a>
                    </div>
                  </div>
                </div>

               <!-- <div class="col-lg-6">
                <a class="portfolio-item" href="https://sound-of-the-soul.herokuapp.com/" target="blank">
                <span class="caption">
                    <span class="caption-content">
                    <h1>Soul</h1>
                    <p class="mb-0">A full stack music web application </p>
                    </span>
                </span>
                <img class="img-fluid soul" src="/static/img/soul.png" alt="">
                </a>
               </div> -->
            </div>
        </div>
      </section>
      <!-- Contact Me section Start -->
      <section class="contact" id="contact">
        <div class="content">
          <div class="title"><span>Contact Me</span></div>
          <div class="text">
                <h4 class="mb-5">Let's Chat</h4>
          </div>
      
          <div class="shoot">
            <div>
              Want to have a chat with me about software development, technical writing, or talk about the latest animes?
            </div>
            <br>
            <div>
              Shoot me an email: <a href="mailto:faruqabdulsalam@yahoo.com" class="eml">faruqabdulsalam@yahoo.com</a>
            </div>
            <br>
            <div>
              Or connect with me on social media : 
              <a href="https://www.linkedin.com/in/faruq-abdulsalam-b2847b160/"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://twitter.com/_Ace_II/"><i class="fab fa-twitter"></i></a>
              <a href="https://github.com/Faruqt"><i class="fab fa-github"></i></a> 
              <a href="https://dev.to/faruqt"><i class="fa fa-dev-to"></i></a> 
              <a href="https://medium.com/@faruqabdulsalam"><i class="fab fa-medium"></i></a>
            </div>
      </div>
      
      
        </div>
      </section>
      
      <!-- Footer Section Start -->
      <footer>
        <div class="text">
          <span>Created By <a href="https://www.linkedin.com/in/faruq-abdulsalam-b2847b160/">Faruq Abdulsalam</a> | &#169; 2021 All Rights Reserved</span>
        </div>
      </footer>

    </body>
</html>
