<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <div id="page-top">
                <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
                <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a class="js-scroll-trigger" href="#page-top">Check Me Out!</a></li>
                    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#page-top">Home Page</a></li>
                    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#about">About Me</a></li>
                    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#services">Resume</a></li>
                    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#contact">Contact Me</a></li>
                </ul>
                </div>
                <div id="entire-page">
                        <header class="masthead d-flex">
                            <div class="container banner-text my-auto">
                                <h1 class="mb-1"><span class="bold">Shehu</span><br> Olatunji Muhammad</h1>
                                <br>
                                <h3 class="mb-4"><em class="type">Smar</em></h3>
                                <ul class="social-icons">
                                    <li class="">
                                        <div class="icons">
                                            <a href="https://www.linkedin.com/in/M-Shehu/" target="blank"><i class="icon-social-linkedin"></i></a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="icons">
                                            <a href="https://github.com/M-Shehu" target="blank"><i class="icon-social-github"></i></a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="icons">
                                            <a href="mailto: mag.shehu@gmail.com" target="blank"><i class="fas fa-envelope"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn btn-secondary btn-xl js-scroll-trigger banner-btn" id="banner-btn" href="#about">Come on in</a>
                            </div>
                            <div class="overlay"></div>
                        </header>
        
                        <section class="content-section" id="about">
                            <div class="container text-center">
                                <div class="row about">
                                <div id="3js-globe" class="globe">
                                    <canvas width="380" height="276" style="width: 380px; height: 276.8px;"></canvas>
                                </div>
                                <div class="about-text">
                                    <h2>Hello World!</h2>
                                    <p class="lead mb-5">I've always loved the phrase Hello World! It's a powerful phrase that not only signifies the beginning of your programming journey, it also sets you up on the world stage for discovery.
                                    <br>
                                    <br>So Welcome to my little corner of the world.</p>
                                </div>
                                </div>
                            </div>
                        </section>
                        <section class="content-section bg-primary text-white text-center" id="services">
                            <div class="container">
                                <div class="content-section-heading">
                                <h3 class="text-secondary mb-0">Competencies</h3>
                                <h2 class="mb-5">What Can I Do?</h2>
                                </div>
                                <div class="row">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-desktop"></i></span>
                                    <h4><strong>FullStack Developer</strong></h4>
                                    <p class="text-faded mb-0">I develop for web. I work with React, Redux, Node, Docker, MongoDB, MySQL and some love. This site is build on React!</p>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-notebook"></i></span>
                                    <h4><strong>Electronics Engineer</strong></h4>
                                    <p class="text-faded mb-0">Master's in Electrical Electronics Engineering from the University of Glasgow. So rest assured that I can build you a battle robot from legos</p>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-emotsmile"></i></span>
                                    <h4><strong>Graphics Designer</strong></h4>
                                    <p class="text-faded mb-0">I draw shapes and make things look pretty. Click on the icon to check out my previous work.</p>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                                    <h4><strong>Utility Player</strong></h4>
                                    <p class="text-faded mb-0">I work well with others and can navigate the dynamics of the toughest teams. </p>
                                </div>
                                </div>
                            </div>
                        </section>
                        <section class="callout content-section">
                        <div class="container text-center">
                            <h2 class="mx-auto mb-5">Download My Resume!</h2>
                            <a class="btn btn-primary btn-xl" href="https://s3-us-west-1.amazonaws.com/shehu.dev/Shehu+CV_Graphical_General.pdf">Download Here</a>
                        </div>
                        </section>
                        <section class="content-section" id="portfolio">
                            <div class="container">
                                <div id="3js-porfolio"></div>
                                <div class="content-section-heading text-center">
                                    <h3 class="text-secondary mb-0">Portfolio</h3>
                                    <h2 class="mb-5">What Projects have I Done?</h2>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <a class="portfolio-item" href="https://sound-of-the-soul.herokuapp.com/" target="blank">
                                        <span class="caption">
                                            <span class="caption-content">
                                            <h2>Soul</h2>
                                            <p class="mb-0">A full stack music web application which allows users to sign up &
                                                make and manage their own personal playlist.</p>
                                            </span>
                                        </span>
                                        <img class="img-fluid" src="/static/img/soul.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a class="portfolio-item" href="https://faruqs-todo-app.herokuapp.com/" target="blank">
                                        <span class="caption">
                                            <span class="caption-content">
                                                <h2>ToDo</h2>
                                                <p class="mb-0">A full stack todo list web applicatipn with responsive UI which makes it easy for you to
                                                    create and organize your tasks.</p>
                                            </span>
                                        </span>
                                        <img class="img-fluid" src="/static/img/ToDo.png" alt="" style="object-fit: contain;">
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a class="portfolio-item" href="#">
                                        <span class="caption">
                                            <span class="caption-content">
                                            <h2>Foodie</h2>
                                            <p class="mb-0">Coming Soon.</p>
                                            </span>
                                        </span>
                                        <img class="img-fluid" src="/static/img/Foodie.jpeg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div style="position: relative; min-height: 100vh; height: 1277px; display: block;">
                            <section id="bottom-container">
                                <div class="container text-center" id="contact-container">
                            
                                <div class="content-section-heading" id="contact-heading">
                                            <h3 class="text-secondary mb-0">Contact Me</h3>
                                            <h2 class="mb-5">Let's Talk</h2>
                                </div>
                            
                                    <div id="contact">
                                    <form class="contact-form" method="POST" action="" class="p-3 border border-2">
                                        {% csrf_token %}
                                        <div class="input-field">
                                        <label class="message-name" for="message-name">Your Name</label>
                                        <input name="name" class="message-name" type="text" placeholder="Your Name" value="">
                                        </div>
                                        <div class="input-field">
                                        <label class="message-email" for="message-email">Your Email</label>
                                        <input name="email" class="message-email" type="email" placeholder="your@email.com" required="" value="">
                                        </div>
                                        <div class="input-field">
                                        <label class="message" for="message-input">Your Message</label>
                                        <textarea name="message" class="message-input" type="text" placeholder="Please write your message here" required=""> </textarea>
                                        </div>
                                        <div class="button--container"> 
                                            <button type="submit" name="contact" class="btn btn-secondary">Send Message</button> 
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                
                            </section>
                        
                            <footer class="footer text-center" id="copyright">
                                <div style="position: relative; left: -50%;">
                                    <div class="container"><p class="text-muted small mb-0">Copyright © Muhammad O. Shehu 2019</p></div>
                                </div>
                            </footer>
                        </div>
                        <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top" style="display: inline;"><i class="fas fa-angle-up"></i></a>
                </div>
            </div>  
        </div>
    </body>
</html>

